.nav-wrapper {
  background-image: url(/images/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
}
  nav {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul li {
      list-style-type: none;
      display: inline-block;
    }
  }
  .header-wrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      width: 60%;
    }
    a {
      margin-top: 40px;
    }
  }
//o mnie
#div2 {
  background-position-y: -20px;
  background-image: url(/images/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 100%;
  position: relative;
  padding: 5% 5% 5% 5%;
  align-items: center;
  justify-content: space-between;
  row-gap: 10%;
  margin-top: 0;
  .div2-text {
    flex-basis: 45%;
    padding-left: 10%;
    h2 {
      font-size: 60px;
    }
    p {
      font-family: 'Rajdhani', sans-serif;
      font-weight: 400;
    }
  }
  .div2-img {
    padding-left: 0%;
    flex-basis: 45%;
    scale: calc(1.1);
  }
}
#offer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 30px;
  background-color: $second-color;
  height: 100%;
  h3 {
    padding-top: 10%;
  }
  .offer-wrapper {
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    .offer-card {
      flex-basis: 30%;
      height: 360px;
      .card-info ul{
        text-align: left;
      }
    }
  }
}
#wspolpraca {
  padding-top: 40px;
  width: 100%;
  background-position-y: -1px;
  background-image: url(/images/background4.svg);
  height: 2000px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .cooperation-inner {
    display: flex;
    align-items: center;
    column-gap: 10%;
    .c-t {
      width: 450px;
      text-align: center;
    }
    .c-h {
      width: 200px;
    }
    .c-i {
      width: 450px;
      text-align: center;
    }
  }
  .wspolpraca-txt {
    
    p {
      text-transform: uppercase;
      text-align: center;
      width: 920px;
      line-height: 4px;
      text-decoration: 2px dotted;
    }
  }
}
 .vertical {
    border-left: 6px solid $first-color;
    top: 300px;
    height: 1600px;
    position: absolute;
    left: 50%;
    .circle-small {
      left: -28px;
      position: absolute;
      background: $first-color;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
    .circle {
      position: absolute;
      background: $first-color;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
    }
    .c-1 {
      top: 200px;
      left: -50px;
    }
    .c-2 {
      top: 500px;
      left: -50px;
    }
    .c-3 {
      top: 800px;
      left: -50px;
    }
    .c-4 {
      top: 1100px;
      left: -50px;
    }
    .c-5 {
      top: 1400px;
      left: -50px;
    }
    .cs-2 {
      top: 1600px;
    }
  }
  div .row {
    justify-content: center;
    padding: 0 !important;
  }
.reviews {
  height: 600px;
  width: 100%;
  padding: 0 !important;
  margin: 0;
  position: relative;
  video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -5;
  }
  /* Slider */
  .carousel-inner, .carousel-item {
    margin-top: 3%;
    height: 600px;
    width: 100%;
  }
  .carousel-caption {
    width: 90%;
    height: 70%;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    padding: 20px;
    column-gap: 15%;
   .review-p {

    p {
      display: block;
      color: $third-color;
      flex-grow: 1;
      text-align: center;
      font-style: italic;
      font-size: 20px;
      padding: 5% 5% 0% 5%;
   }
    }
    img {
      flex-grow: 1;
    }
  }
.quote1 {
  float: left;
  width: 40px;
}
.quote2 {
  float: right;
  width: 40px;
 }
}
#cennik {
  height: 100%;
  width: 100%;
  padding: 5% 0 5% 0;
  .price-wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
    .price-box1 {
      padding: 10px 10px 10px 10px;
      flex-basis: 22%;
      height: 180px;
      border: 3px solid $first-color;
      cursor: pointer;
      span {
        font-family: 'coiny';
        font-size: 28px;
      }
      img {
        padding-bottom: 10px;
        padding-right: 5px;
      }
      &:hover {
        border: 3px solid $second-color;
        color: $second-color;
        transition: all .25s;
      }
    }
    .price-box2 {
      padding: 10px 10px 10px 10px;
      margin-bottom: 10px;
      flex-basis: 22%;
      height: 220px;
      border: 3px solid $second-color;
      cursor: pointer;
      span {
        font-family: 'coiny';
        font-size: 30px;
      }
      img {
        padding-bottom: 10px;
        padding-right: 5px;
      }
      &:hover {
        border: 3px solid $first-color;
        color: $first-color;
        transition: all .25s;
      }
    }
    .price-box3-1 {
      padding: 10px 10px 10px 10px;
      flex-basis: 92.5%;
      height: 60px;
      background-color: $first-color;
      color: $third-color;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
#o-mnie {
  height: 100%;
  width: 100%;
  padding: 2% 0 2% 0;
  .about-me {
    height: 550px;
    display: flex;
    justify-content: center;
    justify-items: space-around;
    align-items: center;
    column-gap: 10%;
    .sandra-img {
      flex-basis: 20%;
      i {
        font-size: 15px;
        letter-spacing: 1px;
        color: $first-color;
      }
    }
    .more-about-me {
      flex-basis: 40%;
      hr {
        float: right;
        width: 75%;
        border: 1px solid black;
        margin-bottom: 3px;
      }
      .btn-ab-me {
        clear: both;
        margin: 8%;
      }
    }
  }
}
#metamorfozy {
  background-color: #F6F1F1;
  padding-top: 2%;
  height: 750px;
  width: 100%;
  .card2-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-around;
  }
}
#kontakt {
  height: 100%;
  width: 100%;
  padding: 5% 0 5% 0;
  background-image: url(../images/bg9.svg);
  .contact {
    height: 500px;
    width: 60%;
    background-color: $second-color;
    margin: 0 auto;
    padding: 5% 5% 0% 5%;
    border-radius: 5%;
    h4 {
      color: $third-color;
    }
    p {
      text-align: center;
      text-transform: uppercase;
      color: $third-color;
    }
    .page-wrap{
      max-width: 75rem;
      margin: 0 auto;
    }
    h1 {
      color: $third-color;
      font-size: 1.5rem;
      letter-spacing: -1px;
      margin: 1.25rem 0;
    }
    %label-movement {
      font-size: 0.75em;
      color: $third-color;
      top: -2.25rem;
      transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    }
    .styled-input {
      float: left;
      width: 30%;
      margin-right: 3%;
      margin-bottom: 3%;
      position: relative;
      label {
        color: $first-color;
        padding: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        pointer-events: none;
      }
      &.wide {
        width: 96%;
      }
    }
    input, textarea {
      padding: 1rem 1rem;
      border: 0;
      width: 100%;
      font-size: 1rem;
      &:focus {
        outline: 0;
        ~ label {
          @extend %label-movement;
        }
       
      }
      &:valid ~ label {
        @extend %label-movement;
      }
    }
    textarea {
      width: 100%;
      margin-right: 4%;
      min-height: 150px;
    }
  }
}
footer {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 0 10px 0;
  color: $third-color;
  background-color: $first-color;
  p {
    padding-left: 2%;
    font-size: 15px !important;
    font-weight: 200 !important;
  }
  .footer-details {
    font-family: 'Oswald';
    padding-right: 2%;
    display: flex;
    column-gap: 10px;
    justify-content: space-around;
    a {
      color: $third-color;
      text-decoration: none;
      &:hover {
        color: $second-color;
      }
    }
  }
}
.nav-wrap-wrap {
  padding: 0 0 0 0 !important;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $third-color;
  z-index: 9999;
}
.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}
.loader::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, $first-color 0%, $second-color 100%);
  animation: load012323 .5s infinite linear;
}
.loader::after {
  width: 85%;
  height: 85%;
  background-color: #222;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes load012323 {
  to {
    transform: rotate(360deg);
  }
}

//google translator 

#lng {
  cursor: pointer;
  height: 37px;
  line-height: 37px;
  margin: 0;
  top: 18px;
  margin: 0 10px 0 10px;
  border-radius: 2px;
  z-index: 999;
  color: $second-color;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Oswald';
  color: $second-color;
  text-align: right;
  transition: all 200ms ease-in-out 0s;
}

#lng_open {
  background-color: #FFF;
  color: #999;
  width: 400px;
  box-shadow: 0 0 3px #666;
  padding: 5px 20px 10px;
  position: absolute;
  right: 20px;
  top: 55px;
  z-index: 1000;
  border-radius: 4px;
  display: none;
  a {
    color: $second-color;
    text-decoration: none;
  }
}

#lng_open #select {
  padding: 0 0 0 20px;
  font-size: 15px;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #E8E8E8;
  color: #7D7D80;
  cursor: pointer;
}

#lng_open .dropdown {
  margin-right: 10px;
  display: inline-block;
}

#lng .dropdown, #lng_open .dropdown {
  font-size: 17px;
  margin-left: 7px;
}

#lng .icon, #lng_open .icon {
  display: none;
}

#more, #popular {
  padding: 10px 0 10px 20px;
  font-size: .9em;
  border-bottom: 1px solid #DEDEDE;
}

#lng_open li {
  list-style-type: none;
  float: left;
  width: 33%;
  padding: 2px 0;
  text-decoration: none;
  &:first-child {
    display: none;
  }
}
