// mobile-menu 
@media screen and (max-width: 768px){

  #div2 {
    background-position-y: 100px;
    background-position-x: -50px;
    flex-direction: column;
    .div2-img {
      order: 1;
      img {
        margin: 0 auto;
        width: 100%;
      }
    }
    .div2-text {
      order: 2;
    }
  }
  .btn, .btn-wrapper {
    width: 100% !important;
  }
  #mobile-menu {
    background-color: $fourth-color;
    border-radius: 20px;
    text-align: left;
    margin: 0;
    color: $third-color;
    padding: 15px 15px 15px 15px;
    ul {
      flex-direction: column;
      background-color: $fourth-color;
    }
  }
  .header-wrapper a {
    margin-top: 150px;
  }
  #div3 {
    width: 100%;
    background-position-y: 1px;
    background-position-x: -10px;
    overflow: hidden;
    height: 1300px;
    padding: 0 5% 0 5%;
    .div3-inner {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin: 0;
      .div3-card, .div3-card2 {
        justify-content: center;
        width: 400px;
        height: 200px;
        margin: 10px 5vh 0 5vh;
        padding: 10px;
      }
    }
  }
  #offer {
    width: 100%;
    height: 1550px;
    .offer-wrapper {
      padding-top: 40px;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 80px;
      .offer-card {
        width: 90%;
        .header {
          margin: 0 auto;
        }
        .card-info {
          margin-top: 10px;
        }
      }
    }
  }
  #wspolpraca {
    height: 1900px;
    background-position-y: -10px;
    width: 100%;
  .cooperation-inner {
    align-content: center;
    column-gap: 50px;
    .c-t, .c-i {
      width: 75px;
      font-size: 50px !important;
      align-self: center;
    }
    .c-h {
      width: 50px;
    }
    .text-coo {
      padding-top: 30px;
      text-align: center;
      font-size: 10px;
      text-transform: uppercase;
    }
    .c-i  img{
      width: 65px;
      height: 65px;
    }
  }
  .wspolpraca-txt {

    p {
      font-size: 15px !important;
      text-align: left !important;
      width: 500px !important;
    }
  }
  .vertical {
    border-left: 6px solid $first-color;
    top: 200px;
    height: 1600px;
    position: absolute;
    left: 50%;
    .circle {
      width: 80px;
      height: 80px;
    }
    .c-1 {
      top: 200px;
      left: -45px;
    }
    .c-2 {
      top: 500px;
      left: -45px;
    }
    .c-3 {
      top: 800px;
      left: -45px;
    }
    .c-4 {
      top: 1100px;
      left: -45px;
    }
    .c-5 {
      top: 1400px;
      left: -45px;
    }
    .cs-2 {
      top: 1600px;
    }
  }
}
.reviews {
  height: 500px;
  #background-reviews {
    object-fit: fill;
  }
  .header-2 {
    font-size: 30px !important;
  }
  .review-p p {
    font-size: 15px !important;
    margin-bottom: 0;
  }
}
#cennik {
  height: 1300px;
  width: 100%;
  margin-bottom: 100px;
  .price-wrapper {
    padding: 10px 10px 10px 10px;
    .price-box1 {
      flex-grow: 1;
      .price-text {
        font-size: 18px !important;
      }
    }
    .price-box2 {
      flex-basis: 100%;
      height: 150px;
    }
    .price-box3-1 {
      flex-basis: 100%;
      height: 130px;
    }
  }
}
  #o-mnie {
    height: 850px;
    width: 100%;
    h4 {
      padding-top: 0;
      margin-top: 0;
    }
    .about-me {
      margin-top: 15%;
      padding: 5% 5% 5% 5%;
      row-gap: 5%;
      flex-direction: column;
      .ab-me {
        font-size: 15px;
      }
      .sandra-img.aos-init.aos-animate {
        height: 450px;
      }
      .sandra-img {
        padding-top: 50px;
        margin-bottom: 0;
        a {
          display: none;
        }
        img {
          scale: calc(0.6);
        }
      }
    }
  }
  #metamorfozy {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0 !important;
    height: 100%;
    width: 100%;
    position: relative;
    .flip-card-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
      .flip-card {
        width: 80%;
        height: 400px;
      }
    }
  }
  #kontakt {
    width: 100%;
    background-image: none;
    margin-bottom: 0;
    .contact {
      width: 100%;
      border-radius: 0;
      input {
        margin-top: 15%;
        margin-bottom: 15%;
        height: 100px;
      }
    }
  }
  footer {
    margin-top: 0;
    height: 100px;
  }
}
@media screen and (min-width: 768px) {
  
  .menu-effect a:before,
  .menu-effect a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menu-effect a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: $second-color;
  }
  .menu-effect a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
  }
  .menu-effect a:hover:before,
  .menu-effect .current a:before {
    opacity: 1;
    width: 100%;
  }
  .menu-effect a:hover:after,
  .menu-effect .current a:after {
  max-width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .main-header {
  font-size: 40px;
  width: 60%;
  }
  .menu-effect a:before,
  .menu-effect a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  }
  .menu-effect a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: $second-color;
  }
  .menu-effect a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
  }
  .menu-effect a:hover:before,
  .menu-effect .current a:before {
  opacity: 1;
  width: 100%;
  }
  .menu-effect a:hover:after,
  .menu-effect .current a:after {
  max-width: 100%;
  }
}
